@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

html {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background: transparent;
}
